.photo {
    margin-top: 1px;
    margin-left: 1px;
}

header {
    background: linear-gradient(to right,red,orange,yellow,green,lightblue,blue,purple); 
    color:aquamarine;
    padding: 10px; 
    font-size: 16pt;
    transition: 1s;
}

footer {
    background: linear-gradient(to right,red,orange,yellow,green,lightblue,blue,purple);
    color:aquamarine; 
    padding: auto; 
    font-size: 16pt; 
    transition: 1s;
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body {
    background-color: lightskyblue;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

main {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 25px; 
}