{% extends "base.html" %}

{% block lab %}История Жигулей{% endblock %}

{% block main %}
    <h1>Ваз-2101</h1>
    <img src="{{ url_for('static', filename='2101.jpg')}}" alt="">
    <div style="position: relative; margin-right: 650px;">
        ВАЗ-2101 «Жигули» — советский заднеприводный легковой автомобиль малого класса с кузовом типа седан. Первая модель, 
        выпущенная Волжским автомобильным заводом. На базе ВАЗ-2101 было создано так называемое «классическое» семейство автомобилей 
        ВАЗ, которое находилось на конвейере до 17 сентября 2012 года.
        За выпуск данной модели в мае 1972 года Волжскому автомобильному заводу была вручена международная премия «Золотой Меркурий».
        В 2000 году ВАЗ-2101 был назван лучшим отечественным автомобилем XX века по результатам всероссийского опроса, 
        проведённого журналом «За рулём». За время производства, с 19 апреля 1970 года по 1988 год было выпущено 4 846 900
        автомобилей ВАЗ-2101 всех модификаций.
    </div>
    <h2>Ваз-2102</h2>
    <img src="{{ url_for('static', filename='2102.jpg')}}" alt="">
    <div style="position: relative; margin-right: 650px;">
        Является лицензионной версией Fiat 124 Familiare, с многочисленными отличиями, аналогичными базовой модели 
        ВАЗ-2101. Первый автомобиль ВАЗ-2102 сошёл с конвейера Волжского автомобильного завода в 1971 году. Затем 
        после начала выпуска преемницы — «четвёрки» ВАЗ-2104 в 1984 году обе машины ещё год выпускались одновременно 
        вплоть до снятия «двойки» с производства в 1986 году (156 автомобилей выпущено в 1986 году). За это время 
        было выпущено 666 989 «универсалов» первого поколения Волжского автомобильного завода.
    </div>
    <h2>2103</h2>
    <img src="{{ url_for('static', filename='2103.jpg')}}" alt="">
    <div style="position: relative; margin-right: 650px;">
        ВАЗ-2103 «Жигули» — советский заднеприводный автомобиль II группы малого класса с кузовом седан. 
        Был разработан совместно с итальянской фирмой Fiat на базе модели Fiat 124 и серийно выпускался 
        на Волжском автомобильном заводе с 1972 по 1984 год. Преемником «Тройки» в иерархии моделей 
        Волжского автозавода считался ВАЗ-2107. Fiat 124, ставший прототипом моделей ВАЗ-2101 и ВАЗ-2103, 
        был впервые представлен публике в 1964 году, серийное производство в Италии началось в 1966. 
        В следующем, 1967 году фирмой был представлен автомобиль более высокого класса со схожим дизайном — Fiat 125.
    </div>
    <h2>2104</h2>
    <img src="{{ url_for('static', filename='2104.jpg')}}" alt="">
    <div style="position: relative; margin-right: 650px;">
        Серийный выпуск автомобиля ВАЗ-2104 («четвёрки») был начат на Волжском автомобильном заводе во второй половине 
        1984 года. Параллельно с новой моделью выпускали аналогичный по классу автомобиль ВАЗ-2102 («двойка»), который 
        к апрелю 1986 года был полностью вытеснен с конвейера. От автомобиля-«донора» «четвёрке» достался ряд 
        оригинальных деталей, касающихся задней части авто.
    </div>
    <h2>2105</h2>
    <img src="{{ url_for('static', filename='2105.jpg')}}" alt="">
    <div style="position: relative; margin-right: 650px;">
        ВАЗ-2105 «Жигули» (LADA 2105) — советский и российский заднеприводный автомобиль 
        III группы малого класса с кузовом типа седан. Был разработан и серийно выпускался на 
        Волжском автомобильном заводе. Первые опытно-промышленные партии были собраны в октябре 
        1979, полномасштабное производство развёрнуто в январе 1980 года и длилось до 30 декабря 2011 года. 
        Самый длительно выпускавшийся автомобиль классического семейства (31 год, с 1979 по 2010 годы). 
        За всё время производства АвтоВАЗ выпустил 2 091 000 автомобилей ВАЗ-2105 всех модификаций с кузовом седан.
        В конце 2000-х годов являлся самым дешёвым автомобилем семейства ВАЗ на российском рынке[1][2] (цена в 2009 г. — 
        178 000 рублей), в основном из-за наименьшей комплектации (только самые необходимые органы управления и средства 
        комфорта; для сравнения: LADA 2107 в том же году стоила 192 000 рублей).
    </div>
{% endblock %}