{% extends "base.html" %}
{% block lab %}Лабораторная работа 7{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='lab7/drink.js') }}"></script>
{% endblock %}

{% block main %}
    <h1>Заказ напитка</h1>

    <div>Напиток:</div>
    <label>
        <input type="radio" value="coffee" name="drink" checked>Кофе
    </label>
    <label>
        <input type="radio" value="black-tea" name="drink">Черный чай
    </label>
    <label>
        <input type="radio" value="green-tea" name="drink">Зеленый чай
    </label>

    <div>Добавки:</div>
    <label>
        <input type="checkbox" name="milk">Молоко
    </label>
    <label>
        <input type="checkbox" name="sugar">Сахар
    </label>

    <div>
        <button id="calculatePrice">Рассчитать цену</button>
    </div>

    <div id="price"></div>

    <div>
        <label for="cardNumber">Номер карты:</label>
        <input type="text" id="cardNumber" name="cardNumber">
    </div>
    <div>
        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv">
    </div>

    <div>
        <button id="placeOrder">Заказать</button>
    </div>
{% endblock %}
